workflows/undefined.json
{
  "updatedAt": "2026-02-10T09:32:11.000Z",
  "createdAt": "2026-02-10T08:57:03.195Z",
  "id": "SgrZMbUHDzzZRIys",
  "name": "Backup-Github",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "fromEmail": "silvaolamide@gmail.com",
        "toEmail": "silvaolamide@gmail.com",
        "subject": "✅ n8n Workflows Backed Up Successfully",
        "options": {}
      },
      "id": "1953e03c-a99a-44bd-8e15-3a619c488f37",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        608,
        112
      ],
      "webhookId": "eb707b54-35ab-48bc-935c-e5dbfe749698",
      "credentials": {
        "smtp": {
          "id": "gMrmc8ofVmiuWtpf",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,20 * * *"
            }
          ]
        }
      },
      "id": "a8376574-d4a2-4221-8860-09d35f97ed7e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://drum-fleet-kite.ngrok-free.app/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b10b8594-4c33-4057-9144-8f6fab01f89d",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VMDZsAZ5J312FKjI",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "1786279c-a8bd-4464-a4ab-41f67bdf91bb",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "workflowJson",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "workflowName",
              "value": "={{ $json.name.replace(/[^a-z0-9]/gi, '-').toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "filename",
              "value": "={{ $json.workflowName + '.json' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "workflowId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0627fbd4-0d9d-4b77-8f74-9f1ec47caf2a",
      "name": "Prepare Individual Workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -608,
        112
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Silvaolamide",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "name"
        },
        "filePath": "={{ 'workflows/' + $json.filename }}",
        "additionalParameters": {}
      },
      "id": "e4cc5562-52b8-4e58-a68e-c36818ad046b",
      "name": "Check If File Exists",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -400,
        112
      ],
      "webhookId": "ff34150e-c863-4727-97fd-364440f5b610",
      "credentials": {
        "githubApi": {
          "id": "2kQ4S3JVH5Rr130l",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "b5061848-2fff-4809-84fe-d9533c705a5d",
      "name": "Does File Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -192,
        112
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Silvaolamide",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "name"
        },
        "filePath": "={{ 'workflows/' + $('Prepare Individual Workflow').item.json.filename }}",
        "fileContent": "={{ $('Prepare Individual Workflow').item.json.workflowJson }}",
        "commitMessage": "=Update: {{ $('Prepare Individual Workflow').item.json.workflowName }}"
      },
      "id": "ae20b35a-83e9-40cc-8d48-a9cd2e0eaa46",
      "name": "Update Existing File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "0dd6dba6-3920-4373-8c53-778dfed53663",
      "credentials": {
        "githubApi": {
          "id": "2kQ4S3JVH5Rr130l",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Silvaolamide",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-backup",
          "mode": "name"
        },
        "filePath": "={{ 'workflows/' + $('Prepare Individual Workflow').item.json.filename }}",
        "fileContent": "={{ $('Prepare Individual Workflow').item.json.workflowJson }}",
        "commitMessage": "=Add: {{ $('Prepare Individual Workflow').item.json.workflowName }}"
      },
      "id": "773d7af1-f0cc-457e-a905-4dae22750387",
      "name": "Create New File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ],
      "webhookId": "9e4fcb47-1111-4034-aed8-d8e60dc03906",
      "credentials": {
        "githubApi": {
          "id": "2kQ4S3JVH5Rr130l",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "ed1026c4-b680-41f8-a95f-d61a54277dfd",
      "name": "Wait For All Workflows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "total-count",
              "name": "totalWorkflows",
              "value": "={{ $json.length }}",
              "type": "number"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b24b206e-4067-4031-896e-bf6c8f03f871",
      "name": "Prepare Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        400,
        112
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Prepare Individual Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Individual Workflow": {
      "main": [
        [
          {
            "node": "Check If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists": {
      "main": [
        [
          {
            "node": "Does File Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does File Exist?": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        [
          {
            "node": "Wait For All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File": {
      "main": [
        [
          {
            "node": "Wait For All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For All Workflows": {
      "main": [
        [
          {
            "node": "Prepare Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Summary": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e1b09aab-471d-426b-8c46-dfaa791fa918",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-10T08:57:03.247Z",
      "createdAt": "2026-02-10T08:57:03.247Z",
      "role": "workflow:owner",
      "workflowId": "SgrZMbUHDzzZRIys",
      "projectId": "f2EbmniIBR8oZwzD"
    }
  ],
  "activeVersion": null,
  "tags": []
}